
    

/* hero section */
.hero{
    height: 100vh;
    width: 100%;
    background-color: white;
    background-size: cover;
    background-position: center;
    }
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    
}
nav ul li a:hover{
    color:yellowgreen ;
}
.content{
    position: absolute;
    top: 150%;
    left: 15%;  
    text-align: center;
    justify-content: space-between;
}
.port{
    color:  rgb(87, 146, 31) ;
}
/* carousel */
#carouselExampleControls{
  position: absolute;
  top: 15%;
  height: 100px;
  width: 100%;
 }
 .content{
    position: absolute;
    top: 30%;
    left: 19%;  
    text-align: center;
    justify-content: space-between;
    color: black;
}
.advant{
    position: relative;
    left: 80px;
}

#service{
    position: relative;
    top: 400px;
    left: 4px;
    display: flex;
}
.services{
    display: flex;
    justify-content: space-around;

}
.footer{
    background-color: rgb(119, 204, 39);
}
.small{
    font-size: 6px;
}
.advantage{
    color:  rgb(87, 146, 31) ;
}
.py-2{
    color:  rgb(87, 146, 31) ;

}

/* @media  only screen and (min-width=990px){
    .follow{
        font-size: 5px;
    }
}
    */
    